<web-app>
	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>sqlAddress</param-name>
		<param-value>jdbc:mysql://hd_database:3306/helpdesk</param-value>
	</context-param>
	<context-param>
		<param-name>sqlUser</param-name>
		<param-value>hd_user</param-value>
	</context-param>
	<context-param>
		<param-name>sqlPassword</param-name>
		<param-value>hd_user</param-value>
	</context-param>
	<context-param>
		<param-name>jwtIssuer</param-name>
		<param-value>helpdesk.com</param-value>
	</context-param>
	<context-param>
		<param-name>jwtKey</param-name>
		<param-value>secret</param-value>
	</context-param>
	<context-param>
		<param-name>pwdLength</param-name>
		<param-value>5</param-value>
	</context-param>
	<context-param>
		<param-name>pwhHashLength</param-name>
		<param-value>16</param-value>
	</context-param>
	<context-param>
		<param-name>pwdHashIterations</param-name>
		<param-value>1000</param-value>
	</context-param>
	<context-param>
		<param-name>pwdHashSalt</param-name>
		<param-value>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16</param-value>
	</context-param>
</web-app>
